<main class="container my-5">
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Проблемки?!</h1>
    <p class="lead">Тут можно описать любые проблемы с работой сайта</p>
    <a class="btn btn-lg btn-primary" <%=link_to 'Add Message', new_support_path %> </a>
  </div>
</main>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<h2 class="text-center"></h2>
<div class="list-group border-bottom">
  <%@support.each do |support_msg| %>
      <a class="list-group-item list-group-item-action py-3 lh-sm" href="<%=support_path(support_msg)%>">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1"><h3><%=support_msg.title %></h3></strong>
        </div>
        <div class="col-10 mb-1 small"><p><%=support_msg.body %></p></div>
      </a>
  <% end %>
  </div>


