<html>
<head>
  <title>Bubble Web Project</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "bootstrap.css"%>
  <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bubble"%>
  <%= javascript_include_tag "jquery.js"%>
  <%= javascript_include_tag "jquery_ujs.js"%>
  <%= javascript_include_tag "color-modes.js"%>

  <%= javascript_importmap_tags %>
  <meta name="theme-color" content="#712cf9">
</head>