<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">

      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img class="img-fluid" <%= image_tag("Chell_Logo.png", size: "125x125")%>
        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="me-2" viewBox="0 0 118 94" role="img"><title>BubbleWeb</title><path fill-rule="evenodd" clip-rule="evenodd" d="" fill="currentColor"></path></svg>
        <span class="fst-italic">Bubble Web Project</span>
      </a>

      <small class="d-block mb-3 text-body-secondary">&copy; 2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" <%=link_to 'Another projects', another_projects_path %></a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" <%=link_to 'Future projects', future_projects_path %></a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" <%=link_to 'See also', see_also_path %></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" <%=link_to 'Platform', platform_path %></a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" <%=link_to 'Resources', resources_path %></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" <%=link_to 'Developer', developer_path %></a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" <%=link_to 'Contacts', contacts_path %></a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>