  <header>
    <nav class="navbar fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <div>
          <img class="img-fluid" <%=image_tag("Chell_Logo.png", size: "50x50")%>
          <a class="navbar-brand"<%=link_to 'Bubble Web Project', home_path%>
          </a>
        </div>
        <nav class="ms-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" <%=link_to 'Random', random_path %> </a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" <%=link_to 'Support', support_path %></a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" <%=link_to 'About Me', about_path %></a>
        </nav>
        <%= render partial:'partials/theme_button'%>
      </div>
    </nav>
  </header>
  <container>
    <br>
    <br />
  </container>