  <% content_for :forms do%>
    <%= form_for :form_random, url: { action: :new }, method: :get do |f|  %>
      <% if @forms.errors.any? %>
        <% @forms.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>
      <p>
        Number of digits:<br>
        <%= f.text_field(:nod,
                             {class: 'form-control',
                           :placeholder=>"Enter number of digits"})%>
      </p>
      <p>
        Minimum number:<br>
        <%= f.text_field(:min,
                         {
                           class: 'form-control',
                           :placeholder=>"Enter minimum number"})%>
      </p>
      <p>
        Maximum number:<br>
        <%= f.text_field(:max,{
                           class: 'form-control',
                           :placeholder=>"Enter maximum number", })%>
      </p>
      <p>
        Number of decimal places:<br>
        <%= f.text_field(:ndp,{
                           class: 'form-control',
                           :placeholder=>"Enter numbers of decimal places"})%>
      </p>
      <%= f.submit 'Create!!!', class: 'w-100 btn btn-lg btn-primary'%>

    <% end %>
  <% end %>
  <% content_for :clear do%>
    <%= link_to 'Clear Result!', random_path, class: 'w-100 btn btn-lg btn-outline-primary'%>
  <% end %>
  <% content_for :sorted do%>
    <%= form_for :result,  url: { action: :sort }, method: :get do |f| %>
      <p>
        Массив чисел:<br>
        <%= text_area_tag 'result',@result_random,disabled: true,
                          class: 'form-control',
                          :placeholder=>"Здесь будет масив чисел сгенерированный согласно заданным параметрам",
                          :size =>"15x6"%>
      </p>
      <%= f.submit 'Sort', class: 'w-100 btn btn-lg btn-primary'%>
    <% end %>
  <% end %>
  <% content_for :avg do%>
    <%= form_for :avg_result, method: :get do %>
      <p>
        Среднее арифметическое:<br>
        <%= text_area_tag 'res',@avg,disabled: true,
                          class: 'form-control',
                          :placeholder=>"AVG:",
                          :size =>"15x1"%>
      </p>
    <% end %>
  <% end %>




