<!DOCTYPE html>
<html>
<%= render partial:'partials/page_header'%>
<body>
<%= render partial:'partials/theme_button'%>
<div class="container py-3">
  <%= render partial:'partials/page_head'%>
  <%= render partial:'partials/work_in_progress'%>
  <%= render partial:'partials/page_footer'%>
</div>
</body>
</html>